<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img
            src="assets/img/image-tulip.jpg"
            alt=""
            class="img-fluid img-height"
          />
          <span>{{ getDate() }}</span>
          <div class="card-body">
            <p class="h3">Tulip Flower</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              minus ducimus aperiam ratione doloribus est saepe officia! Eum,
              quisquam totam.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>

      <!-- 1st card end -->
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img src="assets/img/img-1.jpg" alt="" class="img-fluid img-height" />
          <span>{{ getDate() }}</span>
          <div class="card-body">
            <p class="h4">Chamanthi Flower</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              minus ducimus aperiam ratione doloribus est saepe officia! Eum,
              quisquam totam.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
      <!-- 2nd card end -->
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img
            src="assets/img/img-rose.jpg"
            alt=""
            class="img-fluid img-height"
          />
          <span>{{ getDate() }}</span>
          <div class="card-body">
            <p class="h3">Rose Flower</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              minus ducimus aperiam ratione doloribus est saepe officia! Eum,
              quisquam totam.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
      <!-- 3rd card end -->
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img
            src="assets/img/img-sunflower.jpg"
            alt=""
            class="img-fluid img-height"
          />
          <span>{{ getDate() }}</span>
          <div class="card-body">
            <p class="h3">Sun Flower</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              minus ducimus aperiam ratione doloribus est saepe officia! Eum,
              quisquam totam.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img [src]="image1" alt="" class="img-fluid" />
          <span>{{ getDate() }}</span>
          <div class="card-body">
            <p class="h3"></p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus nostrum eos dolorem numquam earum vero, qui labore.
              Nisi, modi quae.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
      <!-- 1st card end -->
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img [src]="image2" alt="flower" class="img-fluid" />
          <div class="card-body">
            <p class="h3"></p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus nostrum eos dolorem numquam earum vero, qui labore.
              Nisi, modi quae.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
      <!-- 2nd card end -->
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img [src]="image3" alt="" class="img-fluid" />
          <div class="card-body">
            <p class="h3"></p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus nostrum eos dolorem numquam earum vero, qui labore.
              Nisi, modi quae.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
      <!-- 3rd card end -->
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img [src]="image1" alt="" class="img-fluid" />
          <div class="card-body">
            <p class="h3"></p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus nostrum eos dolorem numquam earum vero, qui labore.
              Nisi, modi quae.
            </p>
            <button class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-3">
  <app-wishes> </app-wishes>
</section>
